<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
  <link rel="stylesheet" href="/styles/main.css" />

  <title>Kalos</title>
</head>

<body>
  <%- include('../partials/_nav') %>
  <br><br><br>
  <h1><u>Kalos </u></h1>

  <h2 style="color: #00aae9;"><u>Kalos Pokedex</u></h2>
  <br /><br />
  <div class="pokemonContainer">
    <h1 style="margin-left: 600px;"><%= kalosCentralPokedex.name %></h1>
    <% for(let i = 0; i < kalosCentralPokedex.pokemon_entries.length; i++) {
      %> <% if(kalosCentralPokedex.pokemon_entries[i].pokemon_species.name !==
      "mimikyu-disguised" || "minior-red-meteor") %>

    <a href="/pokemon/<%= kalosCentralPokedex.pokemon_entries[i].pokemon_species.name %>">
      <li>
        <%= kalosCentralPokedex.pokemon_entries[i].pokemon_species.name %>
        <img
          src="https://img.pokemondb.net/sprites/home/normal/<%= kalosCentralPokedex.pokemon_entries[i].pokemon_species.name %>.png"
          alt="<%= kalosCentralPokedex.pokemon_entries[i].pokemon_species.name %>" />
      </li>
    </a>
    <% } %>
  </div>
  <div class="pokemonContainer">
    <h1 style="margin-left: 600px;"><%= kalosCoastalPokedex.name %></h1>
    <% for(let i = 0; i < kalosCoastalPokedex.pokemon_entries.length; i++) {
      %> <% if(kalosCoastalPokedex.pokemon_entries[i].pokemon_species.name !==
      "mimikyu-disguised" || "minior-red-meteor") %>
    <a href="/pokemon/<%= kalosCoastalPokedex.pokemon_entries[i].pokemon_species.name %>">
      <li>
        <%= kalosCoastalPokedex.pokemon_entries[i].pokemon_species.name %>
        <img
          src="https://img.pokemondb.net/sprites/home/normal/<%= kalosCoastalPokedex.pokemon_entries[i].pokemon_species.name %>.png"
          alt="<%= kalosCoastalPokedex.pokemon_entries[i].pokemon_species.name %>" />
      </li>
    </a>
    <% } %>
  </div>
  <div class="pokemonContainer">
    <h1 style="margin-left: 600px;"><%= kalosMountainPokedex.name %></h1>
    <% for(let i = 0; i < kalosMountainPokedex.pokemon_entries.length; i++) {
      %> <% if(kalosMountainPokedex.pokemon_entries[i].pokemon_species.name !==
      "mimikyu-disguised" || "minior-red-meteor") %>
    <a href="/pokemon/<%= kalosMountainPokedex.pokemon_entries[i].pokemon_species.name %>">
      <li>
        <%= kalosMountainPokedex.pokemon_entries[i].pokemon_species.name %>
        <img
          src="https://img.pokemondb.net/sprites/home/normal/<%= kalosMountainPokedex.pokemon_entries[i].pokemon_species.name %>.png"
          alt="<%= kalosMountainPokedex.pokemon_entries[i].pokemon_species.name %>" />
      </li>
    </a>
    <% } %>
  </div>


</body>

</html>